body {
    font-family: sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 8px;
}

input {
    border-radius: 16px;
    border: none;
    padding: 6px 16px;
    outline: none;
}

p.text {
    line-height: 0em;
}

button {
    border-radius: 8px;
    border: none;
    padding: 4px 16px;
    margin-left: 8px;
    white-space: nowrap
}

.list-row button {
    padding: 4px 8px;
    margin: 0px 8px 0px 0px;
}

button:hover {
    background-color: #ff7fff;
    color: #fff;
    cursor: pointer;
}

.input-area {
    box-sizing: border-box;
    background-color: #c1ffff;
    max-width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin: 0 0 8px 0;
}

.shopping-area {
    box-sizing: border-box;
    background-color: #c6ffe2;
    max-width: 100%;
    min-height: 200px;
    padding: 8px;
    border-radius: 8px;
}


.title {

    margin-top: 0;
    font-weight: bold;
    color: #666;
}

.list-row {
    display: flex;
    padding: 4px;
    border-bottom: dashed 1px #b8b8b8;
}

.item-text {
    width: 100%;
    cursor: pointer;
}

.list-row:hover {
    background-color: #7fffa3;
    /* color: #fff; */
    cursor: pointer;
}